<!-- <!DOCTYPE html> -->
<html>
<!-- <script src="/scripts/googleTrends.js"/> -->
<head>
	<title>Google Trends test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class = "container">
	<div class = "banner">
		<img class="newappIcon" src="images/newapp-icon.png">
		<p class = "appTitle">
			Google Trends
		</p>
	</div>
	<footer>
		<div>
			<a class = "ansTrends" onclick="executeSearchTrends()">Trends</a>
			<input id="inputQuery" type="input">
		</div>
		<div id='displayAns'></div>
		<div id="chart-container"></div>
	</footer>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/googleTrends.js"></script>
	<script type="text/javascript" src="/scripts/fusioncharts.js"></script>
	<br><br><br>
	</div>
</body>
</html>
