<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnalyticsApiKey</key>
	<string></string>
	<key>PushAppGuid</key>
	<string>8676046f-76ad-47f9-8bac-950b792e7ea4</string>
	<key>PushClientSecret</key>
	<string>c2d9eb98-6895-4418-a5b0-68c686ab13db</string>
	<key>Region</key>
	<string>.ng.bluemix.net</string>
</dict>
</plist>